.header {
	border-top: 3px solid $color-principal;
	&__logo {
		width: 48.8px;
		height: 48.8px;
		background-image: url('../../images/menu/logo-desktop.svg');
		background-size: cover;
		cursor: pointer;
	}
	&__container {
		padding: 34px 21px 17.2px;
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		& input {
			position: absolute;
			width: 18px;
			height: 18px;
			right: 19px;
			opacity: 0;
			z-index: 10;
			&:checked {
				& ~ .header__container__nav {
					height: 492px;
					padding: 32px 0 312px;
					pointer-events: initial;
				}
				& + .header__container__menu {
					& .header__container__menu__line {
						background-color: transparent;
						&::before {
							transform: rotate(45deg);
						}
						&::after {
							transform: rotate(-45deg);
						}
					}
				}
			}
		}
		&__menu {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 15px;
			height: 14px;
			transition: all ease-in-out 0.5s;
			&__line {
				background-color: $color-principal;
				width: 14px;
				height: 2px;
				&::before,
				&::after {
					content: '';
					width: 14px;
					position: absolute;
					height: 2px;
					background-color: $color-principal;
					display: block;
					transition: all ease-in-out 0.5s;
				}
				&::before {
					transform: translateY(5px);
				}

				&::after {
					transform: translateY(-5px);
				}
			}
		}
		&__nav {
			position: absolute;
			background-color: rgba($color-principal, 0.9);
			top: 100%;
			left: 0;
			right: 0;
			text-align: center;
			transition: all 0.5s ease-in-out;
			height: 0;
			pointer-events: none;
			overflow: hidden;
			z-index: 20;
			&_button {
				display: none;
			}
			&__list {
				& li {
					margin-bottom: 11px;

					&:last-child {
						margin-bottom: 0;
					}
					& a {
						&:hover {
							color: #9cafc3;
						}
					}
				}
				& hr {
					margin-bottom: 11px;
					width: 41px;
					border-color: #fff;
					opacity: 0.5;
					display: inline-block;
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}
}
@media only screen and (min-width: 768px) {
	.header {
		&__logo {
			width: 68px;
			height: 64px;
		}
		&__container {
			padding: 18px 156px 12px;
			max-width: 1440px;
			margin: 0 auto;

			&__menu {
				display: none;
			}
			& input {
				display: none;
			}
			&__nav {
				position: initial;
				pointer-events: all;
				height: initial;
				background-color: initial;
				display: flex;
				align-items: center;
				width: 530px;
				justify-content: space-between;

				&__list {
					display: flex;
					justify-content: space-evenly;
					flex: 1;
					& li {
						margin: 0;
						flex-shrink: 0;
					}
					& hr {
						display: none;
					}
				}
				&__button {
					display: block;
					background-image: url('../../images/menu/button-crear-gifo.svg');
					height: 54px;
					width: 54px;
					&:hover {
						background-image: url('../../images/menu/CTA-crear-gifo-hover.svg');
					}
				}
				&__button.active {
					background-image: url('../../images/menu/CTA-crear-gifo-active.svg');
				}
			}
		}
	}
}
