@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

$principal-font: 'Montserrat', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$color-principal: #572ee5;
$color-secondary: #50e3c2;
$color-gray: #f3f5f8;
$nocturne-color: #37383c;
$bold-nocturne-color: #222326;
